Repository hackdays-io/toban-contribution-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier, check-vite-config

.pre-commit-config.yaml:

default_stages: [commit]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    # -   id: trailing-whitespace  # Removed as it causes too many issues
    -   id: end-of-file-fixer
        exclude: ^backend/docs/
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    # Removed double-quote-string-fixer as it conflicts with Black's formatting
    # Removed name-tests-test as CI will handle this

# Black formatter for backend
-   repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    -   id: black
        language_version: python3
        files: ^backend/
        types: [python]

# isort for backend
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        files: ^backend/
        types: [python]
        args: ["--profile=black"]

# TypeScript linting and formatting
-   repo: local
    hooks:
    -   id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run typecheck || (echo "TypeScript check failed. Run npm run typecheck in frontend directory for details." && exit 1)'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        
    -   id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint || (echo "ESLint check failed. Run npm run lint in frontend directory for details." && exit 1)'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        
    -   id: prettier
        name: Prettier Format Check
        entry: bash -c 'cd frontend && npm run format:check || (echo "Prettier format check failed. Run npm run format in frontend directory to fix issues." && exit 1)'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        pass_filenames: false

    -   id: check-vite-config
        name: Check Vite Config
        entry: frontend/scripts/check-vite-config.sh
        language: system
        files: ^frontend/vite\.config\.ts$
        pass_filenames: false

# The following checks are disabled for local development but run in CI
# Commented out since CI will handle these checks
#
# # flake8
# -   repo: https://github.com/pycqa/flake8
#     rev: 7.0.0
#     hooks:
#     -   id: flake8
#         files: ^backend/
#         types: [python]
#         additional_dependencies:
#         -   flake8-bugbear
#         -   flake8-comprehensions
#         -   flake8-docstrings
#         -   flake8-simplify
#         args: [
#             '--max-complexity=10',
#             '--max-line-length=120',
#             '--ignore=E203,W503,D100,D104,D107',  # E203, W503: conflict with black, D100, D104, D107: docstring in public module/package/init
#             '--exclude=alembic/*,venv/*,__pycache__/*'
#         ]
#
# # mypy
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#     -   id: mypy
#         files: ^backend/
#         exclude: ^backend/(alembic/|tests/|venv/)
#         additional_dependencies:
#         -   pydantic
#         -   types-requests
#         -   sqlalchemy-stubs
#         args: ['--ignore-missing-imports', '--disallow-untyped-defs', '--disallow-incomplete-defs', '--check-untyped-defs']
#
# # bandit (security linter)
# -   repo: https://github.com/PyCQA/bandit
#     rev: 1.7.8
#     hooks:
#     -   id: bandit
#         files: ^backend/
#         exclude: ^backend/(tests/|venv/)
#         args: ['--skip=B101,B311', '--recursive']

Align backend CI checks with GitHub Actions workflow
  backend/scripts/run-ci-checks.sh
Due: none

Add CI compatibility mode to align local checks with GitHub Actions
  DEVELOPMENT.md
  backend/scripts/run-ci-checks.sh
  run-ci-checks.sh
Due: none

Update CLAUDE.md with CI compatibility instructions
  CLAUDE.md
Due: none

Fix B008 errors in CI compatibility mode
  backend/scripts/run-ci-checks.sh
Due: none

Fix B017 and D202 errors in CI compatibility mode
  backend/scripts/run-ci-checks.sh
Due: none

Feature/lint check (#183)
  .pre-commit-config.yaml.bak
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  PRE-COMMIT.md
  README.md
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/api/v1/slack/oauth.py
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
  backend/app/services/slack/api.py
  backend/scripts/run-ci-checks.sh
  backend/tests/api/v1/slack/test_channels.py
  frontend/scripts/run-ci-checks.sh
  frontend/src/__tests__/lib/integrationService.test.ts
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/ReconnectIntegration.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/lib/apiClient.ts
  frontend/src/lib/integrationService.ts
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  run-ci-checks.sh
  scripts/remove-pre-commit.sh
Due: typescript-check, eslint, prettier, check-vite-config

[Phase 1] Enhance Integration Context for Channel Selection
  frontend/src/__tests__/context/IntegrationContext.test.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix formatting and IntegrationList test mock
  frontend/src/__tests__/components/integration/IntegrationList.test.tsx
  frontend/src/__tests__/context/IntegrationContext.test.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix vite.config.ts allowedHosts issue
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Fix vite.config.ts type issues
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Fix vite.config.ts allowedHosts issue (#185)
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

[Phase 1] Enhance Integration Context for Channel Selection (#184)
  frontend/src/__tests__/components/integration/IntegrationList.test.tsx
  frontend/src/__tests__/context/IntegrationContext.test.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Add UI components for channel selection
  frontend/src/App.tsx
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/TeamChannelSelector.tsx
  frontend/src/pages/integration/TeamChannelSelectorPage.tsx
  frontend/src/pages/integration/index.ts
Due: typescript-check, eslint, prettier

Fix missing import for TeamChannelSelectorPage in App.tsx
  frontend/src/App.tsx
Due: typescript-check, eslint, prettier

Add comprehensive tests for channel selection
  frontend/src/__tests__/components/integration/TeamChannelSelector.test.tsx
  frontend/src/__tests__/context/IntegrationContextChannelSelection.test.tsx
  frontend/src/__tests__/pages/integration/TeamChannelSelectorPage.test.tsx
Due: typescript-check, eslint, prettier

Fix import statements in tests
  frontend/src/__tests__/components/integration/TeamChannelSelector.test.tsx
  frontend/src/__tests__/context/IntegrationContextChannelSelection.test.tsx
  frontend/src/__tests__/pages/integration/TeamChannelSelectorPage.test.tsx
Due: typescript-check, eslint, prettier

Fix channel selection functionality and API integration
  frontend/src/components/integration/TeamChannelSelector.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix event propagation and duplicate selection handling
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Fix checkbox state management issues
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Reduce excessive logging in channel selection
  frontend/src/components/integration/TeamChannelSelector.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix missing useRef import
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Fix checkbox UI rendering issues
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Completely rework selection state management for reliability
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Simplify TeamChannelSelector with clean implementation
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Fix root cause of checkbox cancellation issue
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Fix lint issues in TeamChannelSelector and test files
  frontend/src/__tests__/context/IntegrationContextChannelSelection.test.tsx
  frontend/src/__tests__/pages/integration/TeamChannelSelectorPage.test.tsx
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Fix build errors in TeamChannelSelector and tests
  frontend/src/__tests__/components/integration/TeamChannelSelector.test.tsx
  frontend/src/__tests__/context/IntegrationContextChannelSelection.test.tsx
  frontend/src/__tests__/pages/integration/TeamChannelSelectorPage.test.tsx
  frontend/src/components/integration/TeamChannelSelector.tsx
Due: typescript-check, eslint, prettier

Fix TeamChannelSelector tests to prevent hanging
  frontend/src/__tests__/components/integration/TeamChannelSelector.test.tsx
Due: typescript-check, eslint, prettier

Fix test coverage hanging by optimizing configuration
  frontend/package.json
  frontend/src/__tests__/components/integration/TeamChannelSelector.test.tsx
  frontend/vitest.config.ts
Due: typescript-check, eslint, prettier

Fix hanging tests in TeamChannelSelector tests
  frontend/package.json
  frontend/src/__tests__/components/integration/TeamChannelSelector.test.tsx
  frontend/vitest.config.ts
Due: typescript-check, eslint, prettier
