Repository hackdays-io/toban-contribution-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier, check-vite-config

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run typecheck || (echo "TypeScript check failed. Run npm run typecheck in frontend directory for details." && exit 1)'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint || (echo "ESLint check failed. Run npm run lint in frontend directory for details." && exit 1)'
  language: system
  pass_filenames: false

prettier:
  name: Prettier Format Check
  entry: bash -c 'cd frontend && npm run format:check || (echo "Prettier format check failed. Run npm run format in frontend directory to fix issues." && exit 1)'
  language: system
  pass_filenames: false

check-vite-config:
  name: Check Vite Config
  entry: frontend/scripts/check-vite-config.sh
  language: system
  pass_filenames: false

Fix duplicate os import in run_analysis.py
  backend/scripts/run_analysis.py
Due: none

Fix flake8 issues in run_analysis.py
  backend/scripts/run_analysis.py
Due: none

Fix flake8 issues in check_reports.py
  backend/scripts/check_reports.py
Due: none

fix E226 error
  backend/scripts/check_reports.py
Due: none

Fix #238: Filter system messages in Slack channel analysis
  backend/app/services/analysis/slack_channel.py
  backend/scripts/check_reports.py
  backend/scripts/run_analysis.py
Due: none

fix isort
  backend/scripts/run_analysis.py
Due: none

isort
  backend/scripts/run_analysis.py
Due: none

fix flake8 error
  backend/scripts/check_reports.py
  backend/scripts/run_analysis.py
Due: none

fix flake8 error
  backend/scripts/check_reports.py
Due: none

remove unneeded log
  backend/scripts/check_reports.py
Due: none

fix error
  backend/scripts/check_reports.py
Due: none

Fix #238: Filter system messages in Slack channel analysis (#241)
  backend/app/services/analysis/slack_channel.py
  backend/scripts/check_reports.py
  backend/scripts/run_analysis.py
Due: none

Fix #238: Filter system messages in Slack channel analysis
  backend/scripts/check_reports.py
  backend/scripts/run_analysis.py
Due: none

fix flake8 errors
  backend/scripts/check_reports.py
  backend/scripts/run_analysis.py
Due: none

Fix #238: Filter system messages in Slack channel analysis (#243)
  backend/scripts/check_reports.py
Due: none

Add cross-resource analyses history page
  frontend/src/App.tsx
  frontend/src/__tests__/pages/reports/CrossResourceReportsPage.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/lib/integrationService.ts
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/reports/CrossResourceReportsPage.tsx
  frontend/src/pages/reports/index.ts
Due: typescript-check, eslint, prettier

Fix ESLint issues in cross-resource analyses history page
  frontend/src/__tests__/pages/reports/CrossResourceReportsPage.test.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/reports/CrossResourceReportsPage.tsx
Due: typescript-check, eslint, prettier

Fix Material UI import issues in CrossResourceReportsPage
  frontend/src/__tests__/pages/reports/CrossResourceReportsPage.test.tsx
  frontend/src/pages/reports/CrossResourceReportsPage.tsx
Due: typescript-check, eslint, prettier

Apply formatting to all files
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/lib/integrationService.ts
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/reports/index.ts
Due: typescript-check, eslint, prettier

Add comprehensive credential filtering to integrationService
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix reports not showing in Analytics page
  frontend/src/lib/integrationService.ts
  frontend/src/pages/Analytics.tsx
Due: typescript-check, eslint, prettier

Complete security fix to prevent credential exposure
  backend/app/api/v1/integration/router.py
  backend/tests/api/v1/integration/test_router.py
  frontend/src/__tests__/pages/reports/CrossResourceReportsPage.test.tsx
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/ResourcesAnalysisTab.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/pages/integration/IntegrationDetailPage.tsx
  frontend/src/pages/reports/CrossResourceReportsPage.tsx
Due: typescript-check, eslint, prettier

add packages
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Add Team Analysis History page
  frontend/src/App.tsx
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
  frontend/src/pages/reports/index.ts
Due: typescript-check, eslint, prettier

Fix analysis report display in team history page
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
Due: typescript-check, eslint, prettier

Fix resource count display in analysis history
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
Due: typescript-check, eslint, prettier

Remove debug information from team analysis history page
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
Due: typescript-check, eslint, prettier

Fix creator information handling in analysis reports
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
Due: typescript-check, eslint, prettier

Refactor report data handling with dedicated utilities
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
  frontend/src/utils/reportUtils.ts
Due: typescript-check, eslint, prettier

remove createor_id
  frontend/src/utils/reportUtils.ts
Due: typescript-check, eslint, prettier

Implement server-side pagination for team analysis history page
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
Due: typescript-check, eslint, prettier

fix pagination
  backend/app/api/v1/reports/reports.py
  backend/app/api/v1/reports/schemas.py
  frontend/src/lib/integrationService.ts
  frontend/src/utils/reportUtils.ts
Due: typescript-check, eslint, prettier

Fix linting issues in TeamAnalysisHistoryPage and reportUtils
  frontend/src/pages/reports/TeamAnalysisHistoryPage.tsx
  frontend/src/utils/reportUtils.ts
Due: typescript-check, eslint, prettier

Fix TypeScript and flake8 issues
  backend/app/api/v1/reports/schemas.py
  backend/scripts/check_reports.py
  backend/scripts/run_analysis.py
  frontend/src/__tests__/components/integration/IntegrationList.test.tsx
  frontend/src/__tests__/components/slack/ThreadView.test.tsx
  frontend/src/__tests__/context/IntegrationContext.test.tsx
  frontend/src/__tests__/pages/reports/CrossResourceReportsPage.test.tsx
  frontend/src/components/slack/SlackUserCacheContext.tsx
  frontend/src/components/slack/SlackUserContext.tsx
  frontend/src/components/slack/SlackUserContextExports.ts
  frontend/src/components/slack/SlackUserDisplay.tsx
  frontend/src/components/slack/index.ts
  frontend/src/components/slack/useUserCache.tsx
Due: typescript-check, eslint, prettier

fix lint
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/reports/reports.py
  backend/app/services/analysis/slack_channel.py
  backend/tests/api/v1/integration/test_router.py
  frontend/src/App.tsx
  frontend/src/__tests__/components/integration/TeamChannelSelector.test.tsx
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/ResourcesAnalysisTab.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/lib/integrationService.ts
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/integration/CreateAnalysisPage.tsx
  frontend/src/pages/integration/IntegrationDetailPage.tsx
  frontend/src/pages/integration/TeamAnalysisResultPage.tsx
  frontend/src/pages/reports/CrossResourceReportsPage.tsx
  frontend/src/pages/reports/index.ts
  frontend/src/utils/reportUtils.ts
Due: typescript-check, eslint, prettier

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  check-vite-config: any of: ^frontend/vite\.config\.ts$
