Repository hackdays-io/toban-contribution-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier, check-vite-config

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run typecheck || (echo "TypeScript check failed. Run npm run typecheck in frontend directory for details." && exit 1)'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint || (echo "ESLint check failed. Run npm run lint in frontend directory for details." && exit 1)'
  language: system
  pass_filenames: false

prettier:
  name: Prettier Format Check
  entry: bash -c 'cd frontend && npm run format:check || (echo "Prettier format check failed. Run npm run format in frontend directory to fix issues." && exit 1)'
  language: system
  pass_filenames: false

check-vite-config:
  name: Check Vite Config
  entry: frontend/scripts/check-vite-config.sh
  language: system
  pass_filenames: false

Incorporate Slack OAuth fixes with team selection
  frontend/src/components/slack/ConnectWorkspace.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/components/slack/important_logs.txt
  frontend/src/components/team/TeamSelector.tsx
  frontend/src/components/team/index.ts
  frontend/src/lib/slackApiClient.ts
Due: typescript-check, eslint, prettier

Incorporate Slack OAuth fixes with team selection (#162)
  frontend/src/components/slack/ConnectWorkspace.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/components/slack/important_logs.txt
  frontend/src/components/team/TeamSelector.tsx
  frontend/src/components/team/index.ts
  frontend/src/lib/slackApiClient.ts
Due: typescript-check, eslint, prettier

Implement uniqueness constraints for Slack integrations
  SLACK_INTEGRATION_API_PLAN.md
  SLACK_INTEGRATION_UI_PLAN.md
  SLACK_INTEGRATION_UNIQUENESS.md
  SLACK_INTEGRATION_UNIQUENESS_IMPLEMENTATION.md
  backend/alembic/versions/92a14bdd5511_add_workspace_id_and_uniqueness_constraint.py
  backend/alembic/versions/c58a0d02ffa0_migrate_slack_ids_to_workspace_id.py
  backend/alembic/versions/f9556482b18e_add_duplicate_to_integration_status_enum.py
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/api/v1/slack/oauth.py
  backend/app/api/v1/team/auth.py
  backend/app/api/v1/team/members.py
  backend/app/api/v1/team/teams.py
  backend/app/core/team_scoped_access.py
  backend/app/main.py
  backend/app/models/integration.py
  backend/app/models/team.py
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
  backend/scripts/create_default_teams.py
  backend/tests/api/v1/integration/test_router.py
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/ReconnectIntegration.tsx
  frontend/src/components/integration/index.ts
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/components/slack/important_logs.txt
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix Slack integration uniqueness constraints (#163)
  SLACK_INTEGRATION_API_PLAN.md
  SLACK_INTEGRATION_UI_PLAN.md
  SLACK_INTEGRATION_UNIQUENESS.md
  SLACK_INTEGRATION_UNIQUENESS_IMPLEMENTATION.md
  backend/alembic/versions/92a14bdd5511_add_workspace_id_and_uniqueness_constraint.py
  backend/alembic/versions/c58a0d02ffa0_migrate_slack_ids_to_workspace_id.py
  backend/alembic/versions/f9556482b18e_add_duplicate_to_integration_status_enum.py
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/api/v1/slack/oauth.py
  backend/app/api/v1/team/auth.py
  backend/app/api/v1/team/members.py
  backend/app/api/v1/team/teams.py
  backend/app/core/team_scoped_access.py
  backend/app/main.py
  backend/app/models/integration.py
  backend/app/models/team.py
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
  backend/scripts/create_default_teams.py
  backend/tests/api/v1/integration/test_router.py
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/ReconnectIntegration.tsx
  frontend/src/components/integration/index.ts
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/components/slack/important_logs.txt
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Improve reconnection flow text and redirection
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Improve error handling and team context management in OAuth flow
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Consolidate Slack integration creation logic
  backend/app/api/v1/integration/router.py
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
Due: none

Fix MissingGreenlet error in integration creation
  backend/app/api/v1/integration/router.py
Due: none

Feat/improve reconnect flow (#164)
  backend/app/api/v1/integration/router.py
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Fix missing Integration import in integration router
  backend/app/api/v1/integration/router.py
Due: none

Fix missing Integration import in integration router (#165)
  backend/app/api/v1/integration/router.py
Due: none

Fix wasReconnected flag handling in Slack OAuth flow
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix wasReconnected flag handling in integration flow
  backend/app/api/v1/integration/router.py
  backend/app/services/integration/base.py
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

enable redirection
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Fix wasReconnected flag handling in integration flow (#166)
  backend/app/api/v1/integration/router.py
  backend/app/services/integration/base.py
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix wasReconnected flag handling in Slack OAuth flow
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Feature/fix flow (#167)
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

remove unneeded ci
  .github/workflows/ci-pr.yml
Due: none

Fix resource syncing issues with Slack integrations
  backend/app/api/v1/integration/router.py
  backend/app/services/integration/slack.py
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix Slack API boolean parameter handling
  backend/app/services/slack/api.py
Due: none

Fix resource sync toast messages and improve response handling
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix resource sync toast message and improve response handling
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix Slack OAuth flow and resource sync issues (#168)
  .github/workflows/ci-pr.yml
  backend/app/api/v1/integration/router.py
  backend/app/services/integration/slack.py
  backend/app/services/slack/api.py
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/context/IntegrationContext.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

fix conflict
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

fix conflict (#170)
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Add Channel Analysis UI Strategy Document
  frontend/src/components/slack/important_logs.txt
Due: none

Add Channel Analysis UI Strategy Document (#171)
  frontend/src/components/slack/important_logs.txt
Due: none

Fix eslint error: remove unused catch variable
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

test
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Fix TypeScript errors and JSON formatting issues
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/ReconnectIntegration.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/lib/apiClient.ts
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Fix module option in tsconfig.node.json
  frontend/tsconfig.node.json
Due: prettier

Fix test for syncResources function with proper mocking
  frontend/src/__tests__/lib/integrationService.test.ts
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Add local CI check scripts to replace pre-commit hooks
  backend/scripts/run-ci-checks.sh
  frontend/scripts/run-ci-checks.sh
  run-ci-checks.sh
Due: none

Update documentation to include CI check script information
  DEVELOPMENT.md
  README.md
Due: none

Fix flake8 linting errors in backend code
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/slack/oauth.py
  backend/app/services/integration/slack.py
Due: none

Add auto-fix capability to CI check scripts
  backend/scripts/run-ci-checks.sh
  frontend/scripts/run-ci-checks.sh
  run-ci-checks.sh
Due: none

Update documentation to include auto-fix feature
  CONTRIBUTING.md
  DEVELOPMENT.md
  PRE-COMMIT.md
  README.md
Due: none

Add script to remove pre-commit hooks and update documentation
  CONTRIBUTING.md
  DEVELOPMENT.md
  PRE-COMMIT.md
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
  backend/app/services/slack/api.py
  backend/scripts/run-ci-checks.sh
  backend/tests/api/v1/slack/test_channels.py
  frontend/src/__tests__/lib/integrationService.test.ts
  frontend/src/lib/integrationService.ts
  scripts/remove-pre-commit.sh
Due: typescript-check, eslint, prettier

removed pre-hook script
  .pre-commit-config.yaml.bak
Due: none

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  check-vite-config: any of: ^frontend/vite\.config\.ts$
