Repository hackdays-io/toban-contribution-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier, check-vite-config

.pre-commit-config.yaml:

default_stages: [commit]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    # -   id: trailing-whitespace  # Removed as it causes too many issues
    -   id: end-of-file-fixer
        exclude: ^backend/docs/
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    # Removed double-quote-string-fixer as it conflicts with Black's formatting
    # Removed name-tests-test as CI will handle this

# Black formatter for backend
-   repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    -   id: black
        language_version: python3
        files: ^backend/
        types: [python]

# isort for backend
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        files: ^backend/
        types: [python]
        args: ["--profile=black"]

# TypeScript linting and formatting
-   repo: local
    hooks:
    -   id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run typecheck || (echo "TypeScript check failed. Run npm run typecheck in frontend directory for details." && exit 1)'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        
    -   id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint || (echo "ESLint check failed. Run npm run lint in frontend directory for details." && exit 1)'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        
    -   id: prettier
        name: Prettier Format Check
        entry: bash -c 'cd frontend && npm run format:check || (echo "Prettier format check failed. Run npm run format in frontend directory to fix issues." && exit 1)'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        pass_filenames: false

    -   id: check-vite-config
        name: Check Vite Config
        entry: frontend/scripts/check-vite-config.sh
        language: system
        files: ^frontend/vite\.config\.ts$
        pass_filenames: false

# The following checks are disabled for local development but run in CI
# Commented out since CI will handle these checks
#
# # flake8
# -   repo: https://github.com/pycqa/flake8
#     rev: 7.0.0
#     hooks:
#     -   id: flake8
#         files: ^backend/
#         types: [python]
#         additional_dependencies:
#         -   flake8-bugbear
#         -   flake8-comprehensions
#         -   flake8-docstrings
#         -   flake8-simplify
#         args: [
#             '--max-complexity=10',
#             '--max-line-length=120',
#             '--ignore=E203,W503,D100,D104,D107',  # E203, W503: conflict with black, D100, D104, D107: docstring in public module/package/init
#             '--exclude=alembic/*,venv/*,__pycache__/*'
#         ]
#
# # mypy
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#     -   id: mypy
#         files: ^backend/
#         exclude: ^backend/(alembic/|tests/|venv/)
#         additional_dependencies:
#         -   pydantic
#         -   types-requests
#         -   sqlalchemy-stubs
#         args: ['--ignore-missing-imports', '--disallow-untyped-defs', '--disallow-incomplete-defs', '--check-untyped-defs']
#
# # bandit (security linter)
# -   repo: https://github.com/PyCQA/bandit
#     rev: 1.7.8
#     hooks:
#     -   id: bandit
#         files: ^backend/
#         exclude: ^backend/(tests/|venv/)
#         args: ['--skip=B101,B311', '--recursive']

Fix resource sync for locally authenticated Slack integrations (#155)
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/ResourceList.tsx
Due: typescript-check, eslint, prettier

Add debug logs to sync resources button handler
  frontend/src/components/integration/IntegrationDetail.tsx
Due: typescript-check, eslint, prettier

Fix resource sync API parameter name and add debug logs
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Always use backend sync for resources regardless of auth type
  frontend/src/components/integration/IntegrationDetail.tsx
Due: typescript-check, eslint, prettier

Remove local Slack auth concept and related code
  backend/app/api/v1/integration/router.py
  frontend/src/components/integration/IntegrationDetail.tsx
Due: typescript-check, eslint, prettier

Remove mock data for local development
  backend/app/api/v1/integration/router.py
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Remove environment variables for Slack credentials
  .env.docker.example
  DEVELOPMENT.md
  README.md
  backend/.env.example
  backend/README.md
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/api/v1/slack/oauth.py
  backend/app/config.py
  backend/docs/integrations/slack-oauth.md
  backend/docs/testing/slack-channel-testing.md
  backend/docs/testing/slack-oauth-testing.md
  docker-compose.yml
  frontend/src/config/env.ts
Due: typescript-check, eslint, prettier

Fix sync resources button not working (#156)
  backend/app/api/v1/integration/router.py
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Remove environment variables for Slack credentials (#157)
  .env.docker.example
  DEVELOPMENT.md
  README.md
  backend/.env.example
  backend/README.md
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/api/v1/slack/oauth.py
  backend/app/config.py
  backend/docs/integrations/slack-oauth.md
  backend/docs/testing/slack-channel-testing.md
  backend/docs/testing/slack-oauth-testing.md
  docker-compose.yml
  frontend/src/config/env.ts
Due: typescript-check, eslint, prettier

Fix Sync Resources button for team-based Slack integrations
  backend/app/api/v1/integration/router.py
Due: none

Improve Slack integration error handling
  backend/app/api/v1/integration/router.py
  frontend/src/App.tsx
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/slack/ConnectWorkspace.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/integrationService.ts
  frontend/src/pages/integration/IntegrationConnectPage.tsx
  frontend/src/pages/slack/ConnectPage.tsx
  frontend/src/pages/slack/index.ts
Due: typescript-check, eslint, prettier

Add authentication debugging for Slack integration
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/context/useIntegration.ts
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Add connectivity testing to diagnose Slack API call issues
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix reference error in OAuthCallback component
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Add enhanced Slack OAuth debugging
  frontend/src/lib/integrationService.ts
Due: typescript-check, eslint, prettier

Fix Slack OAuth integration flow
  backend/app/api/v1/integration/router.py
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Clean up debug logging in integration services
  backend/app/services/integration/base.py
  backend/app/services/integration/slack.py
Due: none

Fix syntax errors in OAuthCallback.tsx
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Fix escaped characters in OAuthCallback.tsx
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Fix duplicate staticmethod and implement missing get_token method
  backend/app/services/integration/slack.py
Due: none

Add specific ngrok domain to Vite allowedHosts
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Read ngrok domain from VITE_FRONTEND_URL for Vite allowedHosts
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Properly read ngrok domain from VITE_FRONTEND_URL environment variable
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Add comprehensive domain detection logic for Vite allowedHosts
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Add Supabase URL validation to prevent URL construction errors
  frontend/src/lib/supabase.ts
Due: typescript-check, eslint, prettier

Fix Sync Resources button for team-based Slack integrations (#158)
  backend/app/api/v1/integration/router.py
Due: none

Fix Docker environment variable handling for ngrok CORS issues
  .env.docker.example
  DEVELOPMENT.md
  backend/app/main.py
  docker-compose.yml
  docker-dev.sh
  frontend/Dockerfile
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Fix Docker environment variable handling for ngrok CORS issues (#159)
  .env.docker.example
  DEVELOPMENT.md
  backend/app/main.py
  docker-compose.yml
  docker-dev.sh
  frontend/Dockerfile
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Fix Pydantic model validation issues with ServiceResource objects
  backend/app/api/v1/integration/router.py
Due: none

Fix integration response model validation issues
  backend/app/api/v1/integration/router.py
Due: none

Enhance Slack OAuth callback with robust team context handling
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/lib/apiClient.ts
  frontend/src/lib/slackApiClient.ts
Due: typescript-check, eslint, prettier

Fix Pydantic model validation errors for ServiceResource objects
  backend/app/api/v1/integration/router.py
Due: none

Add OAuth flow debug logs for team-based integration model
  frontend/src/components/slack/important_logs.txt
Due: none

Fix Slack OAuth integration endpoint URL
  frontend/src/lib/slackApiClient.ts
Due: typescript-check, eslint, prettier

Add team selection to Slack OAuth flow
  frontend/src/components/slack/ConnectWorkspace.tsx
  frontend/src/components/slack/OAuthCallback.tsx
  frontend/src/components/team/TeamSelector.tsx
  frontend/src/components/team/index.ts
Due: typescript-check, eslint, prettier

Fix duplicate /slack in API URL path
  frontend/src/lib/slackApiClient.ts
Due: typescript-check, eslint, prettier

Use integrationService for Slack OAuth callback
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Add detailed debugging for Slack OAuth callback process
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Switch to direct OAuth callback endpoint to fix authentication issues
  frontend/src/components/slack/OAuthCallback.tsx
Due: typescript-check, eslint, prettier

Fix Pydantic model validation errors for ServiceResource objects (#160)
  backend/app/api/v1/integration/router.py
Due: none
