Repository hackdays-io/toban-contribution-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier, check-vite-config

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run typecheck || (echo "TypeScript check failed. Run npm run typecheck in frontend directory for details." && exit 1)'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint || (echo "ESLint check failed. Run npm run lint in frontend directory for details." && exit 1)'
  language: system
  pass_filenames: false

prettier:
  name: Prettier Format Check
  entry: bash -c 'cd frontend && npm run format:check || (echo "Prettier format check failed. Run npm run format in frontend directory to fix issues." && exit 1)'
  language: system
  pass_filenames: false

check-vite-config:
  name: Check Vite Config
  entry: frontend/scripts/check-vite-config.sh
  language: system
  pass_filenames: false

Fix Slack user ID display error with improved workspace ID handling
  frontend/src/components/slack/SlackUserDisplay.tsx
  frontend/src/pages/integration/TeamAnalysisResultPage.tsx
Due: typescript-check, eslint, prettier

Fix Slack user mentions in analysis reports
  backend/app/api/v1/router.py
  backend/app/api/v1/slack/messages.py
  frontend/src/__tests__/components/slack/SlackUserDisplay.test.tsx
  frontend/src/lib/slackApiClient.ts
Due: typescript-check, eslint, prettier

fixed docker-compose and vite config for handling API server correctly.
  docker-compose.yml
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Update frontend Slack components to use the API client
  frontend/src/components/slack/MessageText.tsx
  frontend/src/components/slack/SlackUserContext.tsx
  frontend/src/components/slack/SlackUserDisplay.tsx
Due: typescript-check, eslint, prettier

Update MessageText tests to match improved user mention regex
  frontend/src/__tests__/components/slack/MessageText.test.tsx
Due: typescript-check, eslint, prettier

Improve workspace ID handling in TeamAnalysisResultPage
  frontend/src/pages/integration/TeamAnalysisResultPage.tsx
Due: typescript-check, eslint, prettier

Add workspace_id to analysis responses
  backend/app/api/v1/slack/analysis.py
Due: none

Add workspace_id to team integration channel analysis endpoints
  backend/app/api/v1/integration/router.py
Due: none

Add newline at end of file
  backend/app/api/v1/slack/router.py
Due: none

Fix Slack user display in analysis reports and message text
  backend/app/api/v1/slack/messages.py
  backend/app/api/v1/slack/router.py
  frontend/src/__tests__/components/slack/SlackUserDisplay.test.tsx
  frontend/src/components/slack/MessageText.tsx
  frontend/src/components/slack/SlackUserContext.tsx
  frontend/src/components/slack/SlackUserDisplay.tsx
  frontend/src/lib/slackApiClient.ts
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Fix Slack username display in analysis reports (#200)
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/router.py
  backend/app/api/v1/slack/analysis.py
  backend/app/api/v1/slack/messages.py
  docker-compose.yml
  frontend/src/__tests__/components/slack/MessageText.test.tsx
  frontend/src/__tests__/components/slack/SlackUserDisplay.test.tsx
  frontend/src/components/slack/MessageText.tsx
  frontend/src/components/slack/SlackUserContext.tsx
  frontend/src/components/slack/SlackUserDisplay.tsx
  frontend/src/lib/slackApiClient.ts
  frontend/src/pages/integration/TeamAnalysisResultPage.tsx
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Add UI redesign specification document
  frontend/UI_REDESIGN_SPEC.md
Due: prettier

Remove outdated Slack integration specification documents
  SLACK_INTEGRATION_UI_PLAN.md
  SLACK_INTEGRATION_UNIQUENESS.md
  SLACK_INTEGRATION_UNIQUENESS_IMPLEMENTATION.md
Due: none

Add UI redesign specification document (#202)
  SLACK_INTEGRATION_UI_PLAN.md
  SLACK_INTEGRATION_UNIQUENESS.md
  SLACK_INTEGRATION_UNIQUENESS_IMPLEMENTATION.md
  frontend/UI_REDESIGN_SPEC.md
Due: prettier

Implement UI redesign Phase 1: Navigation Restructuring
  frontend/src/App.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/Breadcrumb.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/TopNavigation.tsx
  frontend/src/components/layout/index.ts
Due: typescript-check, eslint, prettier

Fix UI design issues in navigation and dashboard
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/TopNavigation.tsx
  frontend/src/pages/Dashboard.tsx
Due: typescript-check, eslint, prettier

Fix navigation menu with consistent tab widths
  frontend/src/components/layout/TopNavigation.tsx
Due: typescript-check, eslint, prettier

Fix TypeScript errors and syntax issues
  frontend/src/components/layout/Breadcrumb.tsx
  frontend/src/components/layout/TopNavigation.tsx
Due: typescript-check, eslint, prettier

Fix container width consistency across pages
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/TopNavigation.tsx
  frontend/src/pages/Dashboard.tsx
Due: typescript-check, eslint, prettier

Implement UI redesign Phase 1: Navigation Restructuring (#203)
  frontend/src/App.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/Breadcrumb.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/TopNavigation.tsx
  frontend/src/components/layout/index.ts
  frontend/src/pages/Dashboard.tsx
Due: typescript-check, eslint, prettier

Add in-page channel analysis feature
  frontend/src/App.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/integration/CreateAnalysisPage.tsx
  frontend/src/pages/integration/TeamChannelAnalysisPage.tsx
  frontend/src/pages/integration/index.ts
Due: typescript-check, eslint, prettier

Update database schema documentation with comprehensive visualization
  backend/DATABASE.md
Due: none

Update Analytics tests for new features
  frontend/src/__tests__/pages/Analytics.test.tsx
Due: typescript-check, eslint, prettier

Update integration components for consistency with analysis flow
  frontend/src/components/integration/IntegrationList.tsx
  frontend/src/pages/integration/IntegrationsPage.tsx
  frontend/src/pages/integration/TeamAnalysisResultPage.tsx
Due: typescript-check, eslint, prettier

Add UI layout inconsistencies documentation
  UI_LAYOUT_INCONSISTENCIES.md
Due: none

Fix TypeScript errors in CreateAnalysisPage
  frontend/src/pages/integration/CreateAnalysisPage.tsx
Due: typescript-check, eslint, prettier

fixed format
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/TopNavigation.tsx
  frontend/src/components/layout/index.ts
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/integration/TeamAnalysisResultPage.tsx
  frontend/src/pages/integration/TeamChannelAnalysisPage.tsx
Due: typescript-check, eslint, prettier

Fix TypeScript errors in CreateAnalysisPage (#207)
  UI_LAYOUT_INCONSISTENCIES.md
  backend/DATABASE.md
  frontend/src/App.tsx
  frontend/src/__tests__/pages/Analytics.test.tsx
  frontend/src/components/integration/IntegrationList.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/TopNavigation.tsx
  frontend/src/components/layout/index.ts
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/integration/CreateAnalysisPage.tsx
  frontend/src/pages/integration/IntegrationsPage.tsx
  frontend/src/pages/integration/TeamAnalysisResultPage.tsx
  frontend/src/pages/integration/TeamChannelAnalysisPage.tsx
  frontend/src/pages/integration/index.ts
Due: typescript-check, eslint, prettier

Update documentation to clarify SECRET_KEY usage
  DEPLOYMENT.md
  README.md
  backend/.env.example
Due: none

remove SECRET_KEY from .env.example
  backend/.env.example
Due: none

Clarify SECRET_KEY usage in documentation (#208)
  DEPLOYMENT.md
  README.md
  backend/.env.example
Due: none

Add Cross-Resource Reports specification document
  docs/cross-resource-reports-spec.md
Due: none

Fix missing route for Connect Slack button
  frontend/src/App.tsx
  frontend/src/pages/slack/index.ts
Due: typescript-check, eslint, prettier

Fix missing route for Connect Slack button (#218)
  docs/cross-resource-reports-spec.md
  frontend/src/App.tsx
  frontend/src/pages/slack/index.ts
Due: typescript-check, eslint, prettier

Add detailed OAuth scopes and Slack app manifest to ConnectWorkspace
  frontend/src/components/slack/ConnectWorkspace.tsx
Due: typescript-check, eslint, prettier

Enhance ConnectWorkspace with OAuth scopes and Slack app manifest (#219)
  frontend/src/components/slack/ConnectWorkspace.tsx
Due: typescript-check, eslint, prettier

Fix team creation API endpoint path
  frontend/src/pages/team/TeamsPage.tsx
Due: typescript-check, eslint, prettier

Fix team API endpoints to include trailing slashes
  frontend/src/pages/team/TeamsPage.tsx
Due: typescript-check, eslint, prettier

Fix SQLAlchemy MissingGreenlet error in team creation
  backend/app/api/v1/team/teams.py
  backend/app/services/team/teams.py
Due: none

Fix team slug generation in team creation UI
  frontend/src/pages/team/TeamsPage.tsx
Due: typescript-check, eslint, prettier

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  check-vite-config: any of: ^frontend/vite\.config\.ts$
