Repository hackdays-io/toban-contribution-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier, check-vite-config

.pre-commit-config.yaml:

default_stages: [commit]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    # -   id: trailing-whitespace  # Removed as it causes too many issues
    -   id: end-of-file-fixer
        exclude: ^backend/docs/
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    # Removed double-quote-string-fixer as it conflicts with Black's formatting
    # Removed name-tests-test as CI will handle this

# Black formatter for backend
-   repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    -   id: black
        language_version: python3
        files: ^backend/
        types: [python]

# isort for backend
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        files: ^backend/
        types: [python]
        args: ["--profile=black"]

# TypeScript linting and formatting
-   repo: local
    hooks:
    -   id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run typecheck || (echo "TypeScript check failed. Run npm run typecheck in frontend directory for details." && exit 1)'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        
    -   id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint || (echo "ESLint check failed. Run npm run lint in frontend directory for details." && exit 1)'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        
    -   id: prettier
        name: Prettier Format Check
        entry: bash -c 'cd frontend && npm run format:check || (echo "Prettier format check failed. Run npm run format in frontend directory to fix issues." && exit 1)'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
        pass_filenames: false

    -   id: check-vite-config
        name: Check Vite Config
        entry: frontend/scripts/check-vite-config.sh
        language: system
        files: ^frontend/vite\.config\.ts$
        pass_filenames: false

# The following checks are disabled for local development but run in CI
# Commented out since CI will handle these checks
#
# # flake8
# -   repo: https://github.com/pycqa/flake8
#     rev: 7.0.0
#     hooks:
#     -   id: flake8
#         files: ^backend/
#         types: [python]
#         additional_dependencies:
#         -   flake8-bugbear
#         -   flake8-comprehensions
#         -   flake8-docstrings
#         -   flake8-simplify
#         args: [
#             '--max-complexity=10',
#             '--max-line-length=120',
#             '--ignore=E203,W503,D100,D104,D107',  # E203, W503: conflict with black, D100, D104, D107: docstring in public module/package/init
#             '--exclude=alembic/*,venv/*,__pycache__/*'
#         ]
#
# # mypy
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#     -   id: mypy
#         files: ^backend/
#         exclude: ^backend/(alembic/|tests/|venv/)
#         additional_dependencies:
#         -   pydantic
#         -   types-requests
#         -   sqlalchemy-stubs
#         args: ['--ignore-missing-imports', '--disallow-untyped-defs', '--disallow-incomplete-defs', '--check-untyped-defs']
#
# # bandit (security linter)
# -   repo: https://github.com/PyCQA/bandit
#     rev: 1.7.8
#     hooks:
#     -   id: bandit
#         files: ^backend/
#         exclude: ^backend/(tests/|venv/)
#         args: ['--skip=B101,B311', '--recursive']

Update documentation for pre-commit hooks
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
Due: none

Enhance pre-commit hooks and fix TypeScript error
  .pre-commit-config.yaml
  PRE-COMMIT.md
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Fix F401 flake8 errors (unused imports)
  backend/scripts/create_all_tables.py
  backend/scripts/create_integration_tables.py
  backend/scripts/create_team_table.py
Due: none

Fix CORS issues and improve database setup (#143)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  DEVELOPMENT.md
  PRE-COMMIT.md
  README.md
  SECURITY.md
  backend/app/api/v1/router.py
  backend/app/config.py
  backend/app/main.py
  backend/scripts/create_all_tables.py
  backend/scripts/create_integration_tables.py
  backend/scripts/create_team_table.py
  backend/scripts/reset_db.py
  docker-compose.yml
  frontend/scripts/check-vite-config.sh
  frontend/vite.config.ts
Due: typescript-check, eslint, prettier, check-vite-config

Improve database migration process with consolidated schema
  DEVELOPMENT.md
  backend/DATABASE.md
  backend/alembic/versions/consolidated_schema.py
  backend/scripts/create_all_tables.py
  backend/scripts/create_integration_tables.py
  backend/scripts/create_team_table.py
  backend/scripts/setup_database.py
  backend/scripts/setup_db.sh
Due: none

Fix team table schema mismatch
  backend/alembic/versions/add_missing_team_columns.py
Due: none

Fix created_by_user_id column type in team table
  backend/alembic/versions/fix_created_by_user_id_type.py
Due: none

Add index to team.created_by_user_id column
  backend/alembic/versions/add_created_by_user_id_index.py
Due: none

Fix integration_share model table naming
  backend/alembic/versions/fix_integration_share_naming.py
  backend/app/models/integration.py
Due: none

Fix API endpoint paths in teams frontend page
  frontend/src/pages/team/TeamsPage.tsx
Due: typescript-check, eslint, prettier

Fix duplicate API prefix in teams page
  frontend/src/pages/team/TeamsPage.tsx
Due: typescript-check, eslint, prettier

Fix teams page to use AuthContext for team data
  frontend/src/pages/team/TeamsPage.tsx
Due: typescript-check, eslint, prettier

Fix bandit warning suppression in setup_database.py
  backend/scripts/setup_database.py
Due: none

Create Integration Detail component and page (Resolves #125)
  frontend/src/App.tsx
  frontend/src/__tests__/components/integration/IntegrationDetail.test.tsx
  frontend/src/__tests__/pages/integration/IntegrationDetailPage.test.tsx
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/IntegrationList.tsx
  frontend/src/components/integration/index.ts
  frontend/src/pages/integration/IntegrationDetailPage.tsx
  frontend/src/pages/integration/index.ts
Due: typescript-check, eslint, prettier

Add IntegrationConnectPage and route for /dashboard/integrations/connect
  frontend/src/App.tsx
  frontend/src/__tests__/pages/integration/IntegrationConnectPage.test.tsx
  frontend/src/pages/integration/IntegrationConnectPage.tsx
  frontend/src/pages/integration/index.ts
Due: typescript-check, eslint, prettier

Fix TypeScript errors and formatting issues
  frontend/src/__tests__/pages/integration/IntegrationConnectPage.test.tsx
  frontend/src/types/test-globals.d.ts
  frontend/src/types/vitest.d.ts
Due: typescript-check, eslint, prettier

Fix linting and formatting issues in test file
  frontend/package.json
  frontend/src/__tests__/pages/integration/IntegrationConnectPage.test.tsx
  frontend/tsconfig.ci.json
Due: typescript-check, eslint, prettier

Add custom CI workflow for PR 146
  .github/workflows/ci-pr.yml
  frontend/.github/workflows/ci-pr.yml
Due: none

Add Integration Connect Page (#146)
  .github/workflows/ci-pr.yml
  frontend/.github/workflows/ci-pr.yml
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/integration/IntegrationDetail.test.tsx
  frontend/src/__tests__/pages/integration/IntegrationConnectPage.test.tsx
  frontend/src/__tests__/pages/integration/IntegrationDetailPage.test.tsx
  frontend/src/components/integration/IntegrationDetail.tsx
  frontend/src/components/integration/IntegrationList.tsx
  frontend/src/components/integration/index.ts
  frontend/src/pages/integration/IntegrationConnectPage.tsx
  frontend/src/pages/integration/IntegrationDetailPage.tsx
  frontend/src/pages/integration/index.ts
  frontend/src/types/test-globals.d.ts
  frontend/src/types/vitest.d.ts
  frontend/tsconfig.ci.json
Due: typescript-check, eslint, prettier

Fix CI build issues with test files and update workflow
  frontend/.github/workflows/ci-pr.yml
  frontend/src/__tests__/components/integration/IntegrationDetail.test.tsx
  frontend/src/__tests__/pages/integration/IntegrationDetailPage.test.tsx
  frontend/tsconfig.ci.json
Due: typescript-check, eslint, prettier

Remove feature branch from CI workflow targets
  frontend/.github/workflows/ci-pr.yml
Due: none

Create Integration Detail Component (Closes #125) (#145)
  frontend/.github/workflows/ci-pr.yml
  frontend/src/__tests__/components/integration/IntegrationDetail.test.tsx
  frontend/src/__tests__/pages/integration/IntegrationDetailPage.test.tsx
  frontend/tsconfig.ci.json
Due: typescript-check, eslint, prettier

Fix duplicate CORS origins in ngrok configuration
  backend/app/config.py
  backend/app/main.py
Due: none

Remove wildcard ngrok domains and simplify CORS configuration
  backend/app/config.py
  backend/app/main.py
Due: none

Fix/cors duplicate entries (#147)
  backend/app/config.py
  backend/app/main.py
Due: none

Simplify database migrations and fix CORS duplicate entries
  backend/alembic/versions/001_create_slack_models.py
  backend/alembic/versions/002_add_team_integrations_models.py
  backend/alembic/versions/23372f1dd158_create_all_tables.py
  backend/alembic/versions/48a0524f84c5_fix_slackchannelanalysis_table.py
  backend/alembic/versions/7d5c89f714c7_add_workspace_metadata_column_to_.py
  backend/alembic/versions/9b8d4568d5be_add_channel_analysis_model.py
  backend/alembic/versions/add_created_by_user_id_index.py
  backend/alembic/versions/add_missing_team_columns.py
  backend/alembic/versions/consolidated_schema.py
  backend/alembic/versions/fe6424d2cda2_add_team_models.py
  backend/alembic/versions/fix_created_by_user_id_type.py
  backend/alembic/versions/fix_integration_share_naming.py
Due: none

Fix CORS duplicates and simplify database migrations (#148)
  backend/alembic/versions/001_create_slack_models.py
  backend/alembic/versions/002_add_team_integrations_models.py
  backend/alembic/versions/23372f1dd158_create_all_tables.py
  backend/alembic/versions/48a0524f84c5_fix_slackchannelanalysis_table.py
  backend/alembic/versions/7d5c89f714c7_add_workspace_metadata_column_to_.py
  backend/alembic/versions/9b8d4568d5be_add_channel_analysis_model.py
  backend/alembic/versions/add_created_by_user_id_index.py
  backend/alembic/versions/add_missing_team_columns.py
  backend/alembic/versions/consolidated_schema.py
  backend/alembic/versions/fe6424d2cda2_add_team_models.py
  backend/alembic/versions/fix_created_by_user_id_type.py
  backend/alembic/versions/fix_integration_share_naming.py
Due: none

Optimize team context loading to prevent redundant API calls
  frontend/src/components/slack/WorkspaceList.tsx
  frontend/src/context/AuthContext.tsx
Due: typescript-check, eslint, prettier

Fix import error for useAuth hook in WorkspaceList
  frontend/src/components/slack/WorkspaceList.tsx
Due: typescript-check, eslint, prettier

Fix missing useRef import in AuthContext.tsx
  frontend/src/context/AuthContext.tsx
Due: typescript-check, eslint, prettier

Fix redundant team context API calls (#149)
  frontend/src/components/slack/WorkspaceList.tsx
  frontend/src/context/AuthContext.tsx
Due: typescript-check, eslint, prettier

Fix SQLAlchemy MissingGreenlet error in integrations API
  backend/app/services/integration/base.py
Due: none

Fix API schema validation errors in integration endpoints
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
Due: none

Fix integration API issues with combined backend fixes
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/services/integration/base.py
Due: none

Fix integration API issues with combined backend fixes (#154)
  backend/app/api/v1/integration/router.py
  backend/app/api/v1/integration/schemas.py
  backend/app/services/integration/base.py
Due: none

Fix resource sync for locally authenticated Slack integrations
  frontend/src/components/integration/IntegrationDetail.tsx
Due: typescript-check, eslint, prettier

Add ResourceList component for integration resources view
  frontend/src/components/integration/ResourceList.tsx
Due: typescript-check, eslint, prettier
